.parent~h1 {
    color: blue;
}


/* .parent > h1 {
            color: red;}
        .parent h1 {
            color: green;
        }
        .parent > div h1 {
            color: purple;
        } */