body{
    padding: 0;
    margin: 0;
}
.p1{
    color: rgba(30, 69, 90, 0.2);}
.p2{
    color: rgba(30, 69, 90, 0.4);}
.p3{
    color: rgba(30, 69, 90, 0.6);}
.p4{
    color: rgba(30, 69, 90, 0.8);
}
.p5{
    color: rgba(30, 69, 90, 1.0);}

#h1{
    color: rgb(180, 94, 187, 0.2);}
#h2{
    color: rgb(180, 94, 187, 0.4);}     
#h3{
    color: rgb(180, 94, 187, 0.6);}
#h4{
    color: rgba(213, 10, 232, 0.8);}
#h5{
    color: rgb(180, 94, 187, 1.0);}   
#q1{
    color: rgb(255, 0, 0, 0.2);}
#q2{
    color: rgb(255, 0, 0, 0.4);}
#q3{
    color: rgb(255, 0, 0, 0.6);}
#q4{
    color: rgb(255, 0, 0, 0.8);}
#q5{
    color: rgb(255, 0, 0, 1.0);}
#t1{
    color: rgb(40, 255, 90, 0.2);}
#t2{
    color: rgb(40, 255, 90, 0.4);}
#t3{
    color: rgb(40, 255, 90, 0.6);}
#t4{
    color: rgb(40, 255, 90, 0.8);}
#t5{
    color: rgb(40, 255, 90, 1.0);}
#y1{
    color: rgba(150, 208, 26, 0.2);}
#y2{    
    color: rgba(150, 208, 26, 0.4);}
#y3{
    color: rgba(150, 208, 26, 0.6);}
#y4{
    color: rgba(150, 208, 26, 0.8);}
#y5{
    color: rgba(150, 208, 26, 1.0);}