.parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.child1 {
    width: 100%;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 10px;
}

.child2 {
    display: none;
}

.dropdown {
    padding: 5px;
}

.dropdown:hover {
    background-color: rgb(53, 252, 22);
    color: black;
}

.parent:hover .child2 {
    display: block;
    background-color: white;
    color: black;
}