/* Navbar */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
    gap: 16px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
    min-width: 140px;
    padding: 12px 22px;
    text-decoration: none;
    transition: all 0.3s ease;
    user-select: none;
}

button:hover {
    transform: scale(1.05);
    box-shadow: rgba(151, 65, 252, 0.3) 0 20px 40px -5px;
}

button:active {
    transform: scale(0.95);
}